In [72]:
import geopandas as gpd

import pandas as pd

g = gpd.read_file('pno.shp')
d = pd.read_csv('postinum.csv', sep = ',', dtype = str)

In [73]:
print(d.tail())

      num
7   00180
8   00420
9   00560
10  07170
11  91910

In [74]:
print(g.head())
print(d.head())

   objectid posti_alue             nimi             namn kunta  kuntanro  \
0       1.0      90510       Hietasaari       Hietasaari   564     564.0
1      38.0      92520           Sipola           Sipola   791     791.0
2       2.0      90520  Taskila-Toppila  Taskila-Toppila   564     564.0
3       3.0      90530       Välivainio       Välivainio   564     564.0
4       4.0      90540      Kuivasjärvi      Kuivasjärvi   564     564.0

    vuosi     pinta_ala    shape_leng  \
0  2018.0  4.157052e+06  15065.912188
1  2018.0  5.492332e+07  30283.670048
2  2018.0  3.718174e+06  10273.666383
3  2018.0  2.283165e+06   6691.718986
4  2018.0  2.773229e+07  24677.744795

                                            geometry
0  (POLYGON ((425586.4833000014 7212020.5814, 425...
1  POLYGON ((445097.126600001 7139231.366, 444832...
2  POLYGON ((427575.4316000016 7212643.481000006,...
3  POLYGON ((429093.5459000021 7212287.617899999,...
4  POLYGON ((430210.8813000014 7215603.0889, 4301...
     num
0  15230
1  15240
2  15230
3  91630
4  91660

In [75]:
g['answ'] = d['num'].astype(str)

In [76]:
print(g.head())

   objectid posti_alue             nimi             namn kunta  kuntanro  \
0       1.0      90510       Hietasaari       Hietasaari   564     564.0
1      38.0      92520           Sipola           Sipola   791     791.0
2       2.0      90520  Taskila-Toppila  Taskila-Toppila   564     564.0
3       3.0      90530       Välivainio       Välivainio   564     564.0
4       4.0      90540      Kuivasjärvi      Kuivasjärvi   564     564.0

    vuosi     pinta_ala    shape_leng  \
0  2018.0  4.157052e+06  15065.912188
1  2018.0  5.492332e+07  30283.670048
2  2018.0  3.718174e+06  10273.666383
3  2018.0  2.283165e+06   6691.718986
4  2018.0  2.773229e+07  24677.744795

                                            geometry   answ
0  (POLYGON ((425586.4833000014 7212020.5814, 425...  15230
1  POLYGON ((445097.126600001 7139231.366, 444832...  15240
2  POLYGON ((427575.4316000016 7212643.481000006,...  15230
3  POLYGON ((429093.5459000021 7212287.617899999,...  91630
4  POLYGON ((430210.8813000014 7215603.0889, 4301...  91660

In [77]:
b = g[['posti_alue', 'answ', 'geometry']]
am = b.groupby('answ')

In [78]:
kakka = pd.DataFrame()
kakka['i'] = None
kakka['maara'] = None

for i, group in am:
    kakka.loc[i, 'i'] = i
    kakka.loc[i, 'maara'] = len(group)

In [87]:
b = b.merge(kakka, left_on = 'posti_alue', right_on = 'i')

In [90]:
print(b)

   posti_alue answ                                           geometry      i  \
0       00100  NaN  POLYGON ((385653.8927999996 6671591.047499999,...  00100
1       00180  NaN  POLYGON ((383948.4211000009 6670035.711500002,...  00180
2       00420  NaN  POLYGON ((381922.694600001 6679369.366800001, ...  00420
3       00220  NaN  POLYGON ((384338.4592000013 6669981.956800003,...  00220
4       00560  NaN  POLYGON ((387510.3558999998 6675424.795000002,...  00560
5       15230  NaN  POLYGON ((433724.0027000001 6771275.551300002,...  15230
6       15240  NaN  POLYGON ((428678.6063000001 6764096.980299998,...  15240
7       91630  NaN  POLYGON ((503683.229100001 7194489.495000005, ...  91630
8       91660  NaN  POLYGON ((471325.5186999999 7161610.738700006,...  91660
9       91910  NaN  POLYGON ((430333.6614000006 7190402.8466, 4292...  91910
10      07170  NaN  POLYGON ((413499.5653999997 6704207.039500004,...  07170

   maara
0      1
1      1
2      1
3      1
4      1
5      2
6      1
7      1
8      1
9      1
10     1